main {
  background-color: #f6d6d6;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 31%;
  max-width: 33%;
  margin: 0;
  padding: 5px;
}

.column img {
  margin: 0;
  padding: 5px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
